<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Your Order History</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Product Price</th>
                                    <th>Quantity</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                  
                                <ng-container *ngFor="let purchase of purchases">
                                    <tr>
                                        <td>{{ purchase.productName }}</td>
                                        <td>&euro; {{ purchase.price }}</td>
                                        <td>{{ purchase.quantity }}</td>
                                        <td>{{ purchase.purchaseDate }}</td>
                                        <td>&euro; {{ purchase.price * purchase.quantity }}</td>
                                    </tr>
                                </ng-container>
                                <tr>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>