<header class="site-navbar" role="banner">

  <div class="site-navbar-top">
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
            
          </div>

          <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
            <div class="site-logo">
              <a routerLink="/home" class="js-logo-clone">Online-Kaufen</a>
            </div>
          </div>

          <div class="col-6 col-md-4 order-3 order-md-3 text-right">
            <div class="site-top-icons">
              <ul>
                <li>
                  <a routerLink="/cart" class="site-cart">
                    <span class="icon icon-shopping_cart"></span>
                    <span class="count">{{ totalItemsInCart }}</span>
                  </a>
                </li>
                <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                      class="icon-menu"></span></a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </div>


  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/shop">Shop</a></li>
        <ng-template [ngIf]="!isAuthenticated">

          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated">
          <li><a routerLink="/purchase-history">Purchase History</a></li>
          <li><a routerLink="/my-products">My Products</a></li>
          <li><a routerLink="/new-product">Upload New Product</a></li>
          <li><a routerLink="/" (click)="this.logout()">Logout</a></li>
        </ng-template>


      </ul>
    </div>
  </nav>
</header>