<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Shop</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row mb-5">
      <div class="col-md-9 order-2">

        <div class="row">
          <div class="col-md-12 mb-5">
            <div class="float-md-left mb-4">
              <h2 class="text-black h5">Shop</h2>
            </div>
            <div class="d-flex">
              <div class="dropdown mr-1 ml-md-auto">
                <form action="" class="site-block-top-search">
                  <span class="icon icon-search2"></span>
                  <input type="text" class="form-control border-0" placeholder="Search" 
                    name="search_text"
                    (keyup)="searchTerm$.next($event.target.value)" 
                    [(ngModel)] ="searchQuery">
                </form>

              </div>

            </div>
          </div>
        </div>

        <ng-container *ngIf="query">
          <h3>Showing results for {{ query }}</h3>
          <br>
        </ng-container>
        <div class="row mb-5">

          <ng-container *ngFor="let product of products">
            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <div class="block-4 text-center border">
                <figure class="block-4-image">
                  <a routerLink="/product/{{product.id}}"><img src="{{product.imgPath}}" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                  <h3><a routerLink="/product/{{product.id}}">{{product.productName}}</a></h3>
                  <p class="mb-0">{{ product.description }}</p>
                  <p class="text-primary font-weight-bold">&euro; {{ product.price }}</p>
                  <p><button class="buy-now btn btn-sm btn-primary" (click)="addToCart(product)">Add To Cart</button>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>


        </div>

      </div>

      <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
          <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
          <ul class="list-unstyled mb-0">
            <ng-container *ngFor="let category of categories">
              <li class="mb-1"><a routerLink="/shop"
                  [queryParams]="{ category: category.categoryId, categoryName: category.categoryName }" class="d-flex">
                  <span>{{ category.categoryName }}</span>
                  <span class="text-black ml-auto">({{ category.categoryCount }})</span>
                </a></li>
            </ng-container>
            <li class="mb-1">
              <a routerLink="/shop" class="d-flex">
                <span>Show All</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>