<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Login</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-6 text-center site-logo">
          <div class="text-success">{{ registrationMessage }}</div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" email formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email address is required</div>
                      <div *ngIf="f.email.errors.email">Invalid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <button [disabled]="loading" class="btn btn-primary">Login</button>
                  <img *ngIf="loading" src="assets/images/loading.gif" />
              </div>

            <div class="form-group row">
                <div class="col-lg-12">
                  <p>Not a member? <a routerLink="/register">Sign Up</a></p>
                </div>
              </div>
          </form>



        <div class="text-danger">{{ message }}</div>
      </div>
    </div>
  </div>
</div>