<div class="site-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12 order-2">


                <div class="row mb-5">
                    <ng-container *ngFor="let product of products">
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <div class="block-4 text-center border">
                                <figure class="block-4-image">
                                    <a routerLink="/product/{{product.id}}"><img src="{{product.imgPath}}"
                                            alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a routerLink="/product/{{product.id}}">{{product.productName}}</a></h3>
                                    <!-- <p class="mb-0">Finding perfect t-shirt</p> -->
                                    <p class="text-primary font-weight-bold">&euro; {{product.price}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</div>