<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Register</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-6 text-center site-logo">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                  <label for="emailId">Email</label>
                  <input type="email" email formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                  <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                      <div *ngIf="f.emailId.errors.required">Email address is required</div>
                      <div *ngIf="f.emailId.errors.email">Invalid email address</div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>

              <div class="form-group">
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First name is required</div>
                  </div>
              </div>
              

              <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last name is required</div>
                  </div>
              </div>
              

              <div class="form-group">
                  <label>Phone</label>
                  <input type="text" formControlName="phoneNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" />
                  <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                      <div *ngIf="f.phoneNo.errors.required">Phone number is required</div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Country</label>
                  <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                  <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                      <div *ngIf="f.country.errors.required">Country is required</div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label>City</label>
                  <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">City is required</div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label>Postcode</label>
                  <input type="text" formControlName="postCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postCode.errors }" />
                  <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.postCode.errors.required">Postcode is required</div>
                  </div>
              </div>
              
              <div class="form-group">
                  <label>Address</label>
                  <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                  <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Alias</label>
                  <input type="text" formControlName="alias" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.alias.errors }" />
                  <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
                      <div *ngIf="f.alias.errors.required">Alias is required</div>
                  </div>
              </div>
              


              <div class="form-group">
                  <div class="text-danger">{{ message }}</div><br>
                  <button [disabled]="loading" class="btn btn-primary">Register</button>
                  <img *ngIf="loading" src="assets/images/loading.gif" />
              </div>

            <div class="form-group row">
                <div class="col-lg-12">
                  <p>Already a member? <a routerLink="/login">Login</a></p>
                </div>
              </div>
          </form>

      </div>
    </div>
  </div>
</div>