<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">New Product</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 mb-3 text-black">Upload your product</h2>
      </div>
      <div class="col-md-12">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-black" for="product_name">Product Name <span class="text-danger">*</span></label>
                <input type="text" formControlName="productName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.productName.errors }" />
                <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                  <div *ngIf="f.productName.errors.required">Product name is required</div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="text-black" for="slug">Slug <span class="text-danger">*</span></label>
                <input formControlName="slug" class="form-control" type="text"
                  [ngClass]="{ 'is-invalid': submitted && f.slug.errors }" />
                <div *ngIf="submitted && f.slug.errors" class="invalid-feedback">
                  <div *ngIf="f.slug.errors.required">Slug is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-black" for="description">Product Description
                  <span class="text-danger">*</span></label>
                <textarea formControlName="description" cols="30" rows="7" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="text-black" for="categoryId">Product Category<span class="text-danger">*</span></label>
                <select formControlName="categoryId" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                  <option value="1">Computers</option>
                  <option value="2">Smartphone</option>
                  <option value="3">Car</option>
                  <option value="4">Chair</option>
                  <option value="5">Building</option>
                  <option value="6">Miscelaneous</option>
                </select>
                <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                  <div *ngIf="f.categoryId.errors.required">Category is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-black" for="available_quantity">Available Quantity<span
                    class="text-danger">*</span></label>
                <input id="available_quantity" formControlName="stock" class="form-control" type="number"
                  [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
                <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                  <div *ngIf="f.stock.errors.required">Available Quantity is required</div>
                </div>

              </div>
              <div class="col-md-6">
                <label class="text-black" for="price">Price<span class="text-danger">*</span></label>
                <input formControlName="price" class="form-control" type="number"
                  [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">Price is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                <label class="text-black" for="product_type">Product Type<span class="text-danger">*</span></label>
                <select formControlName="type" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                  <option value="1">Physical</option>
                  <option value="2">Service</option>
                  <option value="3">Digital</option>
                </select>
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                  <div *ngIf="f.type.errors.required">Type is required</div>
                </div>
              </div>

              <div class="col-md-6">
                <label class="text-black">Product Condition<span class="text-danger">*</span></label>
                <select formControlName="prodCondition" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.prodCondition.errors }">
                  <option value="1">New</option>
                  <option value="2">Refurbished</option>
                  <option value="3">Little Use</option>
                  <option value="4">Used</option>
                  <option value="5">Worn out</option>
                </select>
                <div *ngIf="submitted && f.prodCondition.errors" class="invalid-feedback">
                  <div *ngIf="f.prodCondition.errors.required">Product condition is required</div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input formControlName="file" class="btn btn-default btn-primary" type="file"
                  (change)="onFileChange($event.target.files)" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
                <span class="text-danger">*</span>
                <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                  <div *ngIf="f.file.errors.required">Image is required</div>
                </div>
              </div>
            </div>
            <button  [disabled]="loading" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            <img *ngIf="loading" src="assets/images/loading.gif" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>