<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">Cart</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <form class="col-md-12" method="post">
        <div class="site-blocks-table">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of cartItems">
                <tr>
                  <td class="product-thumbnail">
                    <img src="{{ item.product.imgPath }}" alt="Image" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">{{ item.product.productName }}</h2>
                  </td>
                  <td>&euro; {{ item.product.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>&euro; {{ item.product.price * item.quantity }}</td>
                  <td><button class="btn btn-primary btn-sm" (click)="removeProductFromCart(item.product)">X</button></td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </form>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6 pl-5">
        <div class="row justify-content-end">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-12 text-right border-bottom mb-5">
                <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-6">
                <span class="text-black">Total</span>
              </div>
              <div class="col-md-6 text-right">
                <strong class="text-black">&euro; {{ (cart | async).itemsTotal }}</strong>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                  <button  [disabled]="loading" *ngIf="isAuthenticated" class="btn btn-primary btn-lg py-3 btn-block" (click)='placeOrder()'>Place Order</button>
                  <button *ngIf="!isAuthenticated" class="btn btn-primary btn-lg py-3 btn-block" routerLink="/login">Sign In to Order</button>
                  <img *ngIf="loading" src="assets/images/loading.gif" />  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>