<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a routerLink="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong
          class="text-black">{{ product.productName }}</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ product.imgPath }}" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{ product.productName }}</h2>
        <p>{{ product.description }}</p>
        <p><strong class="text-primary h4">&euro; {{ product.price }}</strong></p>

        <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend" (click)="quantity > 1 ? quantity=quantity-1 : quantity = quantity">
              <button class="btn btn-outline-primary" type="button">&minus;</button>
            </div>
            <input type="number" class="form-control text-center" [(ngModel)] ="quantity" min=1 placeholder=""
               aria-describedby="button-addon1">
            <div class="input-group-append" (click)="quantity=quantity+1">
              <button class="btn btn-outline-primary" type="button">&#x2b;</button>
            </div>
          </div>

        </div>
        <p><button class="buy-now btn btn-sm btn-primary" (click) = "addToCart()">Add To Cart</button></p>

      </div>
    </div>
  </div>
</div>